﻿@model InstituteERP.Core.Entities.Subject

<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
</script>


<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Subject</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

@using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "handleSuccess", OnFailure = "handleError" })) { 
        @Html.AntiForgeryToken()
		<div class="clearfix">
			<div class="form-actions no-color pull-right" style="padding-right:15px;">
				<input type="submit" value="Delete" class="btn btn-primary" /> 
				<input type="button" value="Close" class="btn btn-default"  onclick="closeDialog();" />
			</div>
		</div>
    }
</div>
