﻿@model InstituteERP.Core.Entities.Subject

<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<div class="clearfix">
    <div class="pull-right">
		<input type="button" value="Close" class="btn btn-default"  onclick="closeDialog();" />
	</div>
</div>
