﻿@model IEnumerable<InstituteERP.Core.Entities.Subject>

@{
    ViewBag.Title = "Index";
}

@section scripts{
    <script>
        $("#ajaxDialog").dialog({ autoOpen: false, modal: true, closeText: "", hide: "fadeOut", title:"Subject" ,width: "auto" });

        function showDialog(data) {
            $("#ajaxDialog").dialog("open");

        };

        function closeDialog() {
            $("#ajaxDialog").dialog("close");
        };

        function handleSuccess(data) {
            $("#listContainer").html(data);
			$("#ajaxDialog").dialog("close");
        };

        function handleError(ajaxContext)
        {
            $("#ajaxDialog").html(ajaxContext.responseText);
        };

    </script>
    }

<div class="clearfix list-header">
	<div class="pull-left">
		<h1>Subjects</h1>
	</div>
	<div class="pull-right">
		@Ajax.ActionLink(" Add New", "Create", null, new AjaxOptions { UpdateTargetId="ajaxDialog",InsertionMode=InsertionMode.Replace,HttpMethod="Get",OnSuccess="showDialog"}, new { @class = "btn btn-primary" })
	</div>
</div>

<div class="panel panel-default panel-search">
    <div class="panel-body">
            @using (Ajax.BeginForm("ListPartial", null, new AjaxOptions { UpdateTargetId = "listContainer", InsertionMode = InsertionMode.Replace }, new { @class = "form-horizontal" }))
            {
 				<div class="row">
					<div class="col-md-5">  
						<div class="form-group">
							<label class="col-md-4 control-label">Search Text</label>
							<div class="col-md-8">
								<input type="text" name="searchText" class="form-control" id="searchText" placeholder="">
							</div>
						</div>
					</div>
				</div>
				<div class="row">								
					<div class="col-md-7 col-md-offset-5">
						<button type="submit" class="btn btn-primary btn-search">Search</button>
					</div>
				</div>
            }
    </div>
</div>



<div id="ajaxDialog" class="ajaxDialog" style="min-width:500px;" ></div>


<div id="listContainer">
    @Html.Action("ListPartial", Model)
</div>

