﻿@using PagedList
@using PagedList.Mvc
@model IPagedList<InstituteERP.Core.Entities.Subject>



<table class="table  table-striped table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Ajax.ActionLink("Edit", "Edit", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "btn btn-primary btn-sm" }) 
            @Ajax.ActionLink("Details", "Details", new { id=item.Id }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "btn btn-default btn-sm" }) 
            @Ajax.ActionLink("Delete", "Delete", new { id=item.Id }, new AjaxOptions { UpdateTargetId = "ajaxDialog", InsertionMode = InsertionMode.Replace, HttpMethod = "Get", OnSuccess = "showDialog" }, new { @class = "btn btn-default btn-sm" })
        </td>
    </tr>
}

</table>
<div class="clearfix">
    <div class="pull-right">
        @Html.PagedListPager(Model, p => Url.Action("ListPartial", new { page = p, searchText = ViewBag.SearchText }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "listContainer" }))
    </div>
</div>

