﻿@using PagedList
@model IPagedList<InstituteERP.Core.Entities.Course>

@{
    ViewBag.Title = "Index";
}

@section scripts{
    <script>

                    


        $("#ajaxDialog").dialog({ autoOpen: false, modal: true, closeText: "",  hide: "fadeOut" });

        function showDialog(data) {
            $("#ajaxDialog").dialog("open");

        };

        function handleSuccess(data) {
            $("#listContainer").html(data);
            $("#ajaxDialog").dialog("close");
        };

        function handleError(ajaxContext)
        {
            $("#ajaxDialog").html(ajaxContext.responseText);
        };

        



    </script>
    }


<h2>Index</h2>

<p>
    @Ajax.ActionLink("Create", "Create", new AjaxOptions { UpdateTargetId="ajaxDialog",InsertionMode=InsertionMode.Replace,HttpMethod="Get",OnSuccess="showDialog" })
</p>


<div class="panel panel-default">
    <div class="panel-body">

        <div class="col-md-6">
            @using (Ajax.BeginForm("ListPartial", null, new AjaxOptions { UpdateTargetId = "listContainer", InsertionMode = InsertionMode.Replace }, new { @class = "form-horizontal" }))
            {
                <div class="form-group">
                    <label class="col-lg-2 control-label">Search Text</label>
                    <div class="col-lg-10">
                        <input type="text" name="searchText" class="form-control" id="searchText" placeholder="">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="container">
    <div id="ajaxDialog" class="ajaxDialog container" ></div>
 </div>
<div id="listContainer">
    @Html.Action("ListPartial", Model)
</div>
