﻿@model InstituteERP.Core.Entities.Course

<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
</script>

@using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "handleSuccess", OnFailure = "handleError" }))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="form-horizontal">
            <h4>Course</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

    
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
