﻿@model InstituteERP.Core.Entities.Course

<script type="text/javascript" language=javascript>
    $.validator.unobtrusive.parse(document);
</script>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Ajax.BeginForm(new AjaxOptions { OnSuccess = "handleSuccess", OnFailure = "handleError" })) { 
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
        </div>
    }
</div>
